/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my code starts below */

html {
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(122, 191, 191, 0.5);
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F2F2F2;
}

p,
dt,
dd,
li,
nav,
input {
    font-family: 'Montserrat', sans-serif;
}

dt {
    font-weight: bold;
    text-align: center;
}

dd {
    text-align: center;
}

h4 {
    font-size: 20px;
}

span {
    font-family: 'Bebas Neue', cursive;
}

.good-eats-street-tacos {
    display: none;
}

.sidebar {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: solid #EB5428 2px;
    padding: 0;
    height: 600px;
    background-color: #fff;
}

.sidebar svg {
    display: block;
    margin: 20px 20px auto 20px;
}

.sidebar li {
    list-style-type: none;
    color: #EB5428;
    text-align: center;
}

.sidebar a {
    color: #EB5428;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.sidebar a:hover {
    background-color: #EB5428;
    color: white;
}

.tacos {
    width: 31.45%;
    margin-left: 84px;
    margin-right: 10px;
    float: left;
}

aside h2 {
    font-size: 30px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 24px;
}

.paragraph-1 {
    font-size: 16px;
    margin-right: 120px;
    line-height: 30px;
    margin-bottom: 10px;
}

.paragraph-2 {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 120px;
    line-height: 30px;
}

/* .taco-paragraph-1 {
    margin-left: 10px;
    max-width: 650px;
    display: inline-block
}

.taco-paragraph-2 {
    margin-left: 10px;
    max-width: 650px;
    display: inline-block;
} */

#details {
    clear: both;
    background-color: #0D0D0D;

}

#details h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}

#details h3,
#details dl,
#details dt,
#details dd {
    color: #7ABFBF;
}

#details dd {
    font-weight: 300;
}

.details-grid-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 20px;
    padding-bottom: 10px;
}

.nav-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 30px;
}

.nav-flex div {
    width: 90px;
    display: flex;
    justify-content: center;
}

nav a[href="#home"] span {
    display: none;
}

nav h3 {
    display: none;
}

nav {
    position: absolute;
    top: 0;
    background-color: white;
    width: 1280px;
    height: 104px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .2);
}

nav a {
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: #EB5428;
    padding: 5px;
    text-align: center;
}

nav ul div {
    text-align: center;
}

nav span {
    text-align: center;
    margin-top: 10px;
    margin-left: 3px;
}

nav img {
    width: 60px;
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.spacer {
    width: 1280px;
    height: 148.5px;
    margin-bottom: 100px;
}

.home {
    background-color: #EB5428;
    position: absolute;
    left: 0;
    padding: 20px 10px;
}

.search h4 {
    display: none;
}

.search {
    position: absolute;
    top: 150px;
    left: 40%;
    display: flex;
    justify-content: space-evenly;
}

.search svg {
    background-color: #EB5428;
    stroke: white;
    padding: 1px;
    transition: all 0.2s ease-in-out;
}

.search svg:hover {
    background-color: #fff;
    stroke: #EB5428;
}

.search a {
    padding: 0px;
    margin: 0px;
}

input {
    font-size: 16px;
    border: solid #EB5428 1px;
    width: 200px;
    height: 38px;
}

.avatar {
    position: absolute;
    right: 0px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    height: 85px;
    padding: 10px;
}

.avatar svg {
    display: block;
}

.avatar span {
    text-align: center;
    color: black;
    transition: all 0.5s ease-in-out;
}

.avatar:hover {
    background-color: #EB5428;
}

.icon-tabler-user-circle {
    transition: all 0.5s ease-in-out 0.2s;

}

.avatar:hover .icon-tabler-user-circle {
    stroke: white;
}

.avatar:hover span {
    color: white;
}

.nav-food {
    height: 104px;
    width: 80px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.nav-food:hover {
    background-color: #EB5428;
}

.nav-food a {
    transition: all 0.2s ease-in-out;
}

.nav-food:hover a {
    color: white;
}

#ingredients h3 {
    font-size: 25px;
    margin-left: 80px;
    margin-top: 10px;
}

.ingredients {
    margin-left: 30px;
}

.ingredients li {
    list-style-type: disc;
    line-height: 30px;
}

.ingredients-directions-grid-parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#directions h3 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-right: 140px;

}

.directions li {
    list-style-type: normal;
    line-height: 40px;
}

#extra-dishes {
    background-color: #7ABFBF;
}

#extra-dishes h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dishes-grid-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.rating {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.connect-icons {
    display: flex;
    position: relative;
    right: -680px;
    gap: 80px;
    margin-top: 30px;
    text-align: center;
}

#connect h3,
#connect h4 {
    display: none;
}

.connect-icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EB5428;
    text-decoration: none;
}

.connect-icons li {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

.connect-icons li:hover {
    background-color: #EB5428;
}

.connect-icons svg {
    transition: all 0.2s ease-in-out;
}

.connect-icons span {
    transition: all 0.2s ease-in-out;
}

.connect-icons li:hover svg {
    stroke: white;
}

.connect-icons li:hover span {
    color: white;
}

.contact-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    ;
}

.contact-info h4 {
    display: none;
}

.contact-info img {
    width: 15%;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.contact-info p {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 1024px) {
    body {
        width: 768px;
        max-width: 768px;
    }

    .sidebar {
        flex-direction: row;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        gap: 120px;
        width: 768px;
        align-items: center;
    }

    .sidebar li {
        margin-left: 15px;
        margin-bottom: 25px;
    }

    .paragraph-1,
    .paragraph-2 {
        padding: 10px;
        margin: 0px;
    }

    #details {
        background-color: transparent;
    }

    #details h3,
    #details dl,
    #details dt,
    #details dd {
        color: black;
    }

    .details-grid-parent {
        display: block;
        text-align: center;
    }

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5 {
        display: block;
    }

    .grid-1>*,
    .grid-2>*,
    .grid-3>*,
    .grid-4>*,
    .grid-5>* {
        display: inline;
        ;
        margin-left: 10px;
        text-align: center;
    }

    nav {
        width: 768px;
        height: 182px;
    }

    nav img {
        width: 50px;
    }

    nav span {
        margin-left: 5px;
        align-items: center;
    }

    .nav-food {
        height: 90px;
        width: 70px;
    }

    .nav-flex {
        gap: 42px;
        justify-content: flex-start;
        margin-left: 5px;
        margin-top: 80px;
    }

    .home {
        padding: 5px 5px;
        position: absolute;
        top: 0;
    }

    .avatar {
        top: -20px;
        padding: 5px;
        padding-bottom: 0;
    }

    .search {
        top: 15px;
        left: 430px;
    }

    aside h2 {
        text-align: start;
        margin-left: 10px;
    }

    .tacos {
        width: 768px;
        margin: 0;
    }

    .dishes-grid-parent {
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        gap: 10px;
    }

    .dishes-grid-parent img {
        width: 128px;
        padding-bottom: 20px;
    }

    .dishes-grid-parent h4 {
        display: inline-block;
        position: absolute;
        margin-left: 10px;
    }

    .dishes-grid-parent p {
        display: inline-block;
        position: absolute;
        margin-top: 25px;
        margin-left: 10px;
        font-size: 14px;
    }

    .rating {
        display: inline;
        padding-top: 25px;
    }

    .contact-info {
        flex-direction: column-reverse;
        align-content: flex-start;
    }

    .contact-info img {
        margin-left: 20px;
    }

    .contact-info p {
        text-align: center;
        margin-left: 20px;
        margin-top: -20px;
    }

    .connect-icons {
        right: -445px;
        gap: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 414px;
        max-width: 414px;
    }

    .tacos {
        width: 414px;
    }

    .sidebar {
        width: 414px;
        gap: 0;
        background-color: #F2F2F2;
    }

    .search {
        top: 95px;
        left: 80px;
    }

    .spacer {
        height: 56px;
    }

    aside h2 {
        text-align: center;
        margin: 0;
    }

    nav {
        width: 414px;
        height: 73px;
    }

    .home {
        left: 84px;
        right: 84px;
        padding: 5px 84px;
    }

    .avatar {
        top: -14px;
        right: 12px;
    }

    .details-grid-parent {
        text-align: left;
    }

    .ingredients-directions-grid-parent {
        grid-template-columns: 1fr;
    }

    #ingredients h3 {
        margin-left: 0;
        text-align: center;
    }

    #directions h3 {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .directions li {
        margin-left: 35px;
        ;
    }

    .directions p {
        margin-left: 8px;
        width: 352px;
    }

    .dishes-grid-parent {
        grid-template-columns: 1fr;
    }

    .dishes-grid-parent img {
        width: 68px;
        margin-left: 10px;
    }

    .connect-icons {
        position: static;
        justify-content: center;
        gap: 30px;
    }

    .contact-info {
        flex-wrap: nowrap;
        align-items: center;
    }

    .contact-info img {
        width: 35%;
        margin-left: 0;
    }

    .contact-info p {
        margin-left: 0;
    }

    nav img {
        display: none;
    }

    nav span {
        display: none;
    }

    .nav-food {
        display: none;
    }
}

@media print {

    @page {
        margin: 0.5in;
    }

    html {
        font-family: serif;
    }

    img {
        display: none;
    }

    nav {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .connect-icons {
        display: none;
    }
}